/*font-family: 

Poppins, sans serif
RocknRoll, cursive

Colors:

Primary:

Blood red: hsl(355, 66, 38)
Black: hsl(150, 100, 0)
Grunge Yellow: hsl(49, 16, 53) 

Neutral:

Light gray: hsl(22, 6, 76)
Medium gray: hsl(17, 4, 65)
Deep Gray: hsl(353, 6, 28)

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: inherit;
}

nav {
    display: flex;
    padding: 4rem 4rem;
    background-color: red;
    flex-direction: column;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    overflow: hidden;
    background-color: red;
    justify-content: space-between;
    align-items: center;
    gap: 20rem;
    padding: 0;
    margin: 3rem;

}

.logo {
    display: block;
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
}


