/*font-family: 

Poppins, sans serif
RocknRoll, cursive

Colors:

Primary:

Blood red: hsl(355, 66, 38)
Black: hsl(150, 100, 0)
Grunge Yellow: hsl(49, 16, 53) 

Neutral:

Light gray: hsl(22, 6, 76)
Medium gray: hsl(17, 4, 65)
Deep Gray: hsl(353, 6, 28)

*/